ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES=YES
ASSETCATALOG_COMPILER_APPICON_NAME=${CE_APPICON_NAME}
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME=AccentColor
CODE_SIGN_ENTITLEMENTS=CodeEdit/CodeEdit.entitlements
CODE_SIGN_STYLE=Automatic
COMBINE_HIDPI_IMAGES=YES
DEAD_CODE_STRIPPING=YES
DEVELOPMENT_ASSET_PATHS="CodeEdit/Preview Content"
DEVELOPMENT_TEAM=
ENABLE_HARDENED_RUNTIME=YES
ENABLE_PREVIEWS=YES
GENERATE_INFOPLIST_FILE=NO
INFOPLIST_FILE=CodeEdit/Info.plist
INFOPLIST_KEY_LSApplicationCategoryType=public.app-category.developer-tools
INFOPLIST_KEY_NSHumanReadableCopyright=Copyright © 2022-2024 CodeEdit
INFOPLIST_KEY_NSPrincipalClass=CodeEdit.CodeEditApplication
MACOSX_DEPLOYMENT_TARGET=13.0
MARKETING_VERSION=Change in Info.plist
PRODUCT_BUNDLE_IDENTIFIER=app.codeedit.CodeEdit
PRODUCT_NAME=$(TARGET_NAME)
PROVISIONING_PROFILE_SPECIFIER=
RUN_DOCUMENTATION_COMPILER=NO
SWIFT_EMIT_LOC_STRINGS=YES
SWIFT_OBJC_BRIDGING_HEADER=
SWIFT_VERSION=5.0
SYSTEM_FRAMEWORK_SEARCH_PATHS=$(inherited)

CE_APPICON_NAME[config=Pre]=AppIconPre
CODE_SIGN_IDENTITY[config=Alpha]=Apple Development
CODE_SIGN_IDENTITY[config=Beta]=Apple Development
CODE_SIGN_IDENTITY[config=Debug]=-
CODE_SIGN_IDENTITY[config=Pre]=Apple Development
CODE_SIGN_IDENTITY[config=Release]=Apple Development
CODE_SIGN_IDENTITY[sdk=macosx*][config=Alpha]=-
CODE_SIGN_IDENTITY[sdk=macosx*][config=Beta]=-
CODE_SIGN_IDENTITY[sdk=macosx*][config=Pre]=-
CODE_SIGN_IDENTITY[sdk=macosx*][config=Release]=-
LD_RUNPATH_SEARCH_PATHS[config=Alpha]=$(inherited) @executable_path/../Frameworks
LD_RUNPATH_SEARCH_PATHS[config=Beta]=$(inherited) @executable_path/../Frameworks
LD_RUNPATH_SEARCH_PATHS[config=Debug]=$(inherited) @executable_path/../Frameworks
LD_RUNPATH_SEARCH_PATHS[config=Pre]=$(inherited) @executable_path/../Frameworks
LD_RUNPATH_SEARCH_PATHS[config=Release]=$(inherited) @executable_path/../Frameworks