ALWAYS_SEARCH_USER_PATHS=NO
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED=YES
CLANG_ANALYZER_NONNULL=YES
CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION=YES_AGGRESSIVE
CLANG_CXX_LANGUAGE_STANDARD=gnu++17
CLANG_CXX_LIBRARY=libc++
CLANG_ENABLE_MODULES=YES
CLANG_ENABLE_OBJC_ARC=YES
CLANG_ENABLE_OBJC_WEAK=YES
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING=YES
CLANG_WARN_BOOL_CONVERSION=YES
CLANG_WARN_COMMA=YES
CLANG_WARN_CONSTANT_CONVERSION=YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS=YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE=YES_ERROR
CLANG_WARN_DOCUMENTATION_COMMENTS=YES
CLANG_WARN_EMPTY_BODY=YES
CLANG_WARN_ENUM_CONVERSION=YES
CLANG_WARN_INFINITE_RECURSION=YES
CLANG_WARN_INT_CONVERSION=YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION=YES
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF=YES
CLANG_WARN_OBJC_LITERAL_CONVERSION=YES
CLANG_WARN_OBJC_ROOT_CLASS=YES_ERROR
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER=YES
CLANG_WARN_RANGE_LOOP_ANALYSIS=YES
CLANG_WARN_STRICT_PROTOTYPES=YES
CLANG_WARN_SUSPICIOUS_MOVE=YES
CLANG_WARN_UNGUARDED_AVAILABILITY=YES_AGGRESSIVE
CLANG_WARN_UNREACHABLE_CODE=YES
CLANG_WARN__DUPLICATE_METHOD_MATCH=YES
COPY_PHASE_STRIP=NO
CURRENT_PROJECT_VERSION=38
DEAD_CODE_STRIPPING=YES
ENABLE_STRICT_OBJC_MSGSEND=YES
GCC_C_LANGUAGE_STANDARD=gnu11
GCC_NO_COMMON_BLOCKS=YES
GCC_WARN_64_TO_32_BIT_CONVERSION=YES
GCC_WARN_ABOUT_RETURN_TYPE=YES_ERROR
GCC_WARN_UNDECLARED_SELECTOR=YES
GCC_WARN_UNINITIALIZED_AUTOS=YES_AGGRESSIVE
GCC_WARN_UNUSED_FUNCTION=YES
GCC_WARN_UNUSED_VARIABLE=YES
MACOSX_DEPLOYMENT_TARGET=13.0
MARKETING_VERSION=
MTL_FAST_MATH=YES
RUN_DOCUMENTATION_COMPILER=YES
SDKROOT=macosx
SYSTEM_FRAMEWORK_SEARCH_PATHS=
VERSIONING_SYSTEM=apple-generic

CE_APPICON_NAME[config=Pre]=AppIconPre
DEBUG_INFORMATION_FORMAT[config=Alpha]=dwarf-with-dsym
DEBUG_INFORMATION_FORMAT[config=Beta]=dwarf-with-dsym
DEBUG_INFORMATION_FORMAT[config=Debug]=dwarf
DEBUG_INFORMATION_FORMAT[config=Pre]=dwarf-with-dsym
DEBUG_INFORMATION_FORMAT[config=Release]=dwarf-with-dsym
ENABLE_NS_ASSERTIONS[config=Alpha]=NO
ENABLE_NS_ASSERTIONS[config=Beta]=NO
ENABLE_NS_ASSERTIONS[config=Pre]=NO
ENABLE_NS_ASSERTIONS[config=Release]=NO
ENABLE_TESTABILITY[config=Debug]=YES
GCC_DYNAMIC_NO_PIC[config=Debug]=NO
GCC_OPTIMIZATION_LEVEL[config=Debug]=0
GCC_PREPROCESSOR_DEFINITIONS[config=Debug]=DEBUG=1 $(inherited)
MTL_ENABLE_DEBUG_INFO[config=Alpha]=NO
MTL_ENABLE_DEBUG_INFO[config=Beta]=NO
MTL_ENABLE_DEBUG_INFO[config=Debug]=INCLUDE_SOURCE
MTL_ENABLE_DEBUG_INFO[config=Pre]=NO
MTL_ENABLE_DEBUG_INFO[config=Release]=NO
ONLY_ACTIVE_ARCH[config=Debug]=YES
OTHER_SWIFT_FLAGS[config=Alpha]=-D ALPHA
OTHER_SWIFT_FLAGS[config=Beta]=-D BETA
OTHER_SWIFT_FLAGS[config=Pre]=-D ALPHA
SWIFT_ACTIVE_COMPILATION_CONDITIONS[config=Debug]=DEBUG
SWIFT_COMPILATION_MODE[config=Alpha]=wholemodule
SWIFT_COMPILATION_MODE[config=Beta]=wholemodule
SWIFT_COMPILATION_MODE[config=Pre]=wholemodule
SWIFT_COMPILATION_MODE[config=Release]=wholemodule
SWIFT_OPTIMIZATION_LEVEL[config=Alpha]=-O
SWIFT_OPTIMIZATION_LEVEL[config=Beta]=-O
SWIFT_OPTIMIZATION_LEVEL[config=Debug]=-Onone
SWIFT_OPTIMIZATION_LEVEL[config=Pre]=-O
SWIFT_OPTIMIZATION_LEVEL[config=Release]=-O